.checkout {
  display: flex;
  padding: 20px;
  background-color: #eaeded;
  height: max-content;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
}

.checkout__left {
  width: 100%;
  background-color: #fff;
  margin: 10px 20px 10px 0;
  padding: 15px;
}

.checkout__right {
  background-color: #fff;
}

.checkout__products {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.checkout__total {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
