.nav {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__logo {
  /* margin: 0 20px; */
  margin-top: 15px;
}

.nav__location {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.nav__search {
  display: flex;
  flex: 1 1 auto;
  padding: 0 10px;
  align-items: center;
}

.nav__searchInput {
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav__searchIcon {
  padding: 10px;
  height: 20px !important;
  background-color: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav__right {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.nav__language {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.nav__flag {
  color: #fff;
}

.nav__right > a .nav__option,
.nav__right > .nav__option {
  margin-right: 15px;
  margin-left: 15px;
}

.nav__icon {
  color: #fff;
  margin-top: 4px;
}

.nav__option {
  display: flex;
  flex-direction: column;
  /* margin-left: 10px;
  margin-right: 10px; */
  color: #fff;
}

.nav__optionLineOne {
  font-size: 12px;
  text-decoration: none;
}

.nav__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
  padding-top: 2px;
  text-decoration: none;
}

.amazon-sprite {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
}

.amazon-logo-base {
  float: left;
  text-indent: -500px;
  background-position: -10px -51px;
  width: 98px;
  height: 38px;
}

.amazon-cart-icon {
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}

.nav__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.nav__basketCount {
  /* margin-left: 10px;
  margin-right: 10px; */
  position: absolute;
  top: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 18px;
  right: auto;
  justify-content: center;
  color: #f08804;
}
