.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 5px;
}

.checkoutProduct__info {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 20px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__rating > p {
  padding: 5px 5px 0 0;
  font-size: 30px;
  color: yellowgreen;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 20px;
}

.checkoutProduct__operations > select {
  width: 70px;
  cursor: pointer;
}

.checkoutProduct__operations > .remove {
  font-size: 14px;
  color: #ff0000;
}

.checkoutProduct__price > small {
  padding-right: 4px;
}
